<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <link rel="stylesheet" href="/css/registartion.css">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form id="registrationForm" action="#" method='POST'>
        <!-- {% csrf_token %} -->
        <input type="text" id="regEmail" placeholder="Enter your email" name='regEmail' required>
        <input type="password" id="regPassword" placeholder="Create a password" name='regPassword' required>
        <input type="password" id="regConfirmPassword" placeholder="Confirm your password"  name='regConfirmPassword' required>
        <span id="passwordMatch" class="error-message" style="display: none;">Passwords don't match</span>
        <!-- {% if messages %}
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        {% endif %} -->
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a  href='/api/v1/login'> <label>Login</label></a>
        </span>
      </div>
    </div>
  </div>

  <!-- {% comment %}  -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var regPassword = document.getElementById('regPassword');
      var regConfirmPassword = document.getElementById('regConfirmPassword');
      var passwordMatch = document.getElementById('passwordMatch');
      var registrationForm = document.getElementById('registrationForm');

      registrationForm.addEventListener('submit', function(event) {
        if (regPassword.value !== regConfirmPassword.value) {
          event.preventDefault();
          passwordMatch.style.display = 'inline';
        } else {
          passwordMatch.style.display = 'none';
        }
      });

      regPassword.addEventListener('input', function() {
        passwordMatch.style.display = 'none';
      });

      regConfirmPassword.addEventListener('input', function() {
        passwordMatch.style.display = 'none';
      });
    });
  </script> 
  <!-- {% endcomment %} -->
</body>
</html>